{% extends 'train/base.html' %}

{% block extrahead %}

<script src="/static/train/sdk/exercice-properties.js"></script>

{% block extrahead2 %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="w-screen max-w-screen md:w-[90%] lg:w-[80%] p-5
            relative center-w">
    {% for category in categories %}
        {% include 'train/list/category.html' with name=category.name exercices=category.exercices %}
    {% endfor %}
</div>

{% include 'train/list/properties.html' %}
{% endblock %}