{% extends 'train/base.html' %}

{% block extrahead %}

<script src="/static/train/sdk/get-schedulers.js"></script>

{% block extrahead2 %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="w-screen max-w-screen md:w-[90%] lg:w-[80%] p-5
            relative center-w">
    <div class="font-medium text-xl md:text-2xl lg:text-4xl px-10">Plans de révisions</div>

    <!-- HIDDEN -->
    <div id="scheduler-template" class="group hidden">
        {% include 'train/schedulers/scheduler.html' with name=":name:" exercice_count=":exercices.length:" url="/train/schedule/:id:/" %}
    </div>

    <div id="scheduler-container" class="mt-5">
        
    </div>

    <div class="relative center-w w-min py-[2.5rem]" id="waiter-container">
        {% include 'utils/wait.html' %}
    </div>
</div>
{% endblock %}