{% extends 'base/base.html' %}

{% block content %}

{% include 'home/text/base.html' with title="Qui sommes-nous ?" text="Elèves en première au Lycée Franco-Allemand de Buc, nous avons formé le projet de créer un site destiné à tous ceux qui désirent s'entraîner aux matières scientifiques via des QCM et des exercices dédiés. <br> Vous cherchez à en apprendre plus sur le club ou découvrir les outils qu'il propose? <a href='#' class='underline hover:text-sky-700'>C'est par ici !</a>" %}
{% include 'home/text/base.html' with title="Le club informatique en bref" text="Dans le cadre du Club info, nous nous intéressons également à la cryptographie (Enigma, méthodes de chiffrement, etc.) et nous préparons au concours <a href='https://concours-alkindi.fr/' class='underline hover:text-sky-700'>Alkindi</a> (jusqu'à la seconde inclue)<br><br>Nous nous entraînons à la programmation en Python avec <a href='https://www.france-ioi.org' class='underline hover:text-sky-700'>France-IOI</a> " %}

<div class="bg-gray-50 my-10 p-20 px-[7.5rem] xl:px-[12.5rem] 2xl:px-[15rem] max-w-full">
    <div class="flex flex-wrap justify-center">
        {% include 'home/container/character.html' with avatar_url="/static/home/media/image/characters/avatar1.jpg" name="Itaï I."    text="A participé au développement du Backend de ce site" %}
        {% include 'home/container/character.html' with avatar_url="/static/home/media/image/characters/avatar2.jpg" name="Axel C."    text="A participé au développement du Backend de ce site." %}
        {% include 'home/container/character.html' with avatar_url="/static/home/media/image/characters/avatar3.jpg" name="Théo H."    text="A participé au développement du Backend de ce site." %}
        {% include 'home/container/character.html' with avatar_url="/static/home/media/image/characters/avatar4.jpg" name="Camille V." text="A participé au développement du Frontend de ce site." %}
        </div>
    <div class="text-center text-lg lg:text-xl">
        <strong>
            Ont participé à l'écriture des articles : 
        </strong>
        Adam B. Luc E. Maïten J. Lorenz T. Aurélien U. Adrien V. Samuel R. Arthur F. Erik D.
    </div>
    <div class="text-center text-lg lg:text-xl mt-8">
        <strong>
            Merci aussi à notre professeur du club info : 
        </strong>
        <a href="https://youtube.com/watch?v=dQw4w9WgXcQ" style="color:black;font-style:normal;cursor:default;">Mauricio Garay</a> 
        </div>
</div>
{% endblock %}
