{% extends 'base/base.html' %}

{% block head %}
{% include 'base/head.html' with head_url="/static/home/media/image/post_bg.jpg" title="Le Club info propose" subtitle="des QCMs, des exercices variés et des articles autour des sciences" %}
{% endblock %}

{% block content %}

<div class="bg-gray-50 my-10 p-20 px-[7.5rem] xl:px-[12.5rem] 2xl:px-[15rem] max-w-full">
    <div class="flex flex-wrap justify-center">
        {% include 'home/container/post.html' with img_url="/static/home/media/image/crypto_post.jpg"       title="Cryptographie"        text="Le chiffrage et l'analyse de fréquence" %}
        {% include 'home/container/post.html' with img_url="/static/home/media/image/entrainement_post.jpg" title="Entraînement"         text="Des exercices pour vos révisions" %}
        {% include 'home/container/post.html' with img_url="/static/home/media/image/qcm_post.jpg"          title="QCM de Mathématiques" text="Accédez à des QCMs variés et corrigés" %}
        {% include 'home/container/post.html' with img_url="/static/home/media/image/vigenere_post.jpg"     title="Vigenère"             text="Découvrez le chiffrement de Vigenère" %}
    </div>
    <div class="text-center md:text-xl lg:text-2xl">
        <strong>
            Ont participé à l'écriture des articles : 
        </strong>
        Antoine A. Adam B. Luc E. Itaï I. Maïten J. Lorenz T. Aurélien U. Adrien V.
    </div>
</div>

{% endblock %}