{% load tailwind_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans 'Club Info 2022' %}{% endblock %}</title>
    <link rel="icon" href="/static/home/media/image/favicon.ico">

    {% tailwind_css %}
    <script src="/static/home/js/utils/toggler.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

    {% block extrahead %}{% endblock %}
</head>
<body class="w-screen overflow-x-hidden">
    {% block navbar %}
    {% include 'base/navbar.html' %}
    {% endblock %}

    {% block head %}
    {% include 'base/head.html' with head_url="/static/home/media/image/home_background.jpg" title="Club info" subtitle="Un blog par les élèves du club informatique du Lycée Franco-Allemand de Buc" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer%}
    {% include 'base/footer.html' %}
    {% endblock %}
</body>
</html>