<div class="w-full relative max-h-[75vh] overflow-hidden mt-[5.75rem] md:mt-0">
    <img src="{{ head_url }}" class="relative">
    <img src="{{ head_url }}" class="absolute center-h w-full">
    <div class="absolute w-full h-full opacity-50 top-0" style="background-color: #212529;"></div>

    <div class="absolute h-fit w-max center-h center-w max-w-[75%]">
        <div class="font-medium text-5xl lg:text-8xl text-center text-gray-100 pb-10">{{ title }}</div>
        <div class="text-2xl lg:text-3xl text-center text-gray-100">{{ subtitle }}</div>
    </div>
</div>