<div class="w-full relative max-h-[75%] overflow-hidden mt-[5.75rem] md:mt-0">
    <img src="{{ head_url }}" class="relative">
    <img src="{{ head_url }}" class="absolute center-h w-full">
    <div class="absolute w-full h-full opacity-50 top-0" style="background-color: #212529;"></div>

    <div class="absolute h-fit w-max center-h center-w max-w-[75%]">
        <div class="font-bold text-3xl md:text-6xl text-center text-gray-100">{{ title }}</div>
        <div class="text-xl md:text-3xl text-center text-gray-100">{{ subtitle }}</div>
    </div>
</div>