
<div class="absolute w-full z-10 top-0 lg:top-6">
    <div class="relative lg:w-[87.5%] xl:w-[75%] 
                px-12 py-[2rem]
                
                flex text-lg center-w
                
                bg-gray-50 md:bg-transparent">
        <a href="/" class="flex text-xl cursor-pointer text-gray-700 md:text-gray-100 font-bold">
            <div class="relative h-[28px]">
                <img src="/static/home/media/image/favicon.png"  class="relative center-h w-20 lg:w-auto lg:px-5 hidden md:block">
            </div>
            <div>
                Club Informatique
            </div>
        </a>

        <div class="flex-1"></div>

        <div class="divide-x-[2rem] divide-transparent hidden md:flex">
            <div class="nav-link">Home</div>
            <div class="nav-link">Publications</div>
            <div class="nav-link">Contact</div>
            <div class="nav-link">Login</div>
        </div>

        <div for="[navbar-phone-link]" toggle class="material-icons-outlined cursor-pointer select-none" style="font-size: 28px;">
            <div class="md:hidden" inner-button>
                menu
            </div>
            <div class="hidden md:hidden" inner-button>
                menu_open
            </div>
        </div>
    </div>

    <div navbar-phone-link class="phone-navbar hidden md:hidden">
        <div class="phone-nav-link">Home</div>
        <div class="phone-nav-link">Publications</div>
        <div class="phone-nav-link">Contact</div>
        <div class="phone-nav-link">Login</div>
    </div>
</div>