<div class="w-full xl:w-[calc(50%-40px)] m-5 border border-gray-300">
    <div class="pb-5">
        <div class="w-full bg-cover bg-center aspect-[1] md:aspect-[1.5] lg:aspect-2 mb-5"
            style="background-image: url('{{ img_url }}');">

        </div>

        <div class="px-5 font-medium text-4xl lg:text-5xl">{{ title }}</div>
        <div class="px-7 py-[3rem] text-3xl" style="word-wrap: break-word;">{{ text }}</div>

        <a href="" class="mx-5 text-2xl font-medium border border-gray-600 text-gray-500 hover:bg-gray-600 hover:text-white transition-all duration-300 w-min cursor-pointer p-3 px-6">
            Lire
        </a>
        <div class="pb-3"></div>
    </div>
</div>