<!-- This template should not be used -->
<!-- The only purpose is to force tailwind to load the tag-->
<div class="text-sm font-light text-right text-gray-400">Pseudo-Code</div>
<div class="flex flex-wrap bg-stone-800 text-gray-200 rounded-xl p-3 overflow-x-auto pr-6">
    <div class="text-right w-8 px-2 text-gray-300 text-violet-300">1</div>
    <div class="w-[calc(100%-40px)]">
        <span class="text-sky-500">fonction</span> 
        <span class="text-orange-300 text-sky-400">lexer</span>(<span class="text-sky-300">string</span>): 
    </div>


    <span class="text-green-600">'PLUS'</span>
    <span class="text-emerald-300">'PLUS'</span>
    <span class="text-emerald-200 text-xs lg:text-sm">la longueur de</span>
    <span class="text-violet-400">la longueur de</span>
    <div class="text-right w-8 px-2 text-gray-300">2</div>
    <p class="whitespace-pre w-[calc(100%-40px)]">    <span class="text-sky-300">tokens</span> := []</p>
</div>