{% extends 'base/base.html' %}

{% block head %}
{% include 'base/head.html' with head_url="/static/home/media/image/home_background.jpg" title="Vigenère" subtitle="Découvrez le chiffrement de Vigenère" %}
{% endblock %}

{% block content %}
{% load codeblock %}

<div class="p-5 divide-transparent max-w-[600px] lg:max-w-[800px] relative center-w">
    <div class="text-xl px-1">
        Blaise de Vigenère est un diplomate et cryptographe français né le 5 avril 1523 et mort presque 73 ans plus tard le 19 février 1596. Il décrit en 1586 un système de chiffrement dans son ouvrage intitulé Traité des Chiffres . Ce n’est pourtant pas le premier à décrire un système similaire, puisque cet honneur revient au cryptographe italien Giovan Battista Bellaso qui en parle 33 ans plus tôt en 1553.
    </div>
    <br>
    <div class="text-xl md:text-3xl px-1">
        Mais c’est quoi au juste le chiffrement de Vigenère ? 
    </div>
    <div class="text-xl text-gray-400 italic text-right pt-8">Aurélien Urbillac, Arthur Félix et Luc Enderli, élèves au Lycée Franco-Allemand de Buc</div>
</div>


{% endblock %}