{% extends 'qcm/base.html' %}

{% block content %}
<div class="px-8 py-8">
    <div class="relative center-w w-fit max-w-[800px] flex border border-gray-200 rounded-lg divide-x divide-gray-200">
        {% for page in pages %}
        <div class="w-8 h-8 text-center transition-colors {% if page.4 %} text-blue-600 hover:text-white bg-blue-100 cursor-pointer hover:bg-blue-400  {% elif page.3 %} cursor-pointer text-blue-400 hover:text-white hover:bg-blue-400 {% else %} text-gray-400 {% endif %}">
            <div {% if page.3 %}href="/qcm/?page={{ page.1 }}"{% endif %} class="h-min relative center-h">{{ page.2 }}</div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="px-8 flex flex-col gap-8">
    {% for qcm in qcm_array %}
    <div class="rounded-lg h-32 border border-gray-200 relative center-w w-full max-w-[800px]">
        <div class="h-16 text-center text-2xl border-b border-gray-200 bg-gray-50">
            <div class="h-fit relative center-h">{{ qcm.name }}</div>
        </div>

        <div class="h-16 py-4">
            <div class="relative center-w w-fit flex h-8
                        border border-gray-200 divide-x divide-gray-200 rounded-lg">
                {% for data in qcm.enumerate_questions %}
                {% with question=data.1 index=data.0 %}
                <div href="/qcm/{{ qcm.id }}/question/{{ question.id }}" class="w-[33px] cursor-pointer">
                    <div class="h-fit w-fit relative center-h center-w select-none">
                        {{ index }}
                    </div>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
