<nav class="border-b border-gray-300 h-[64px] flex px-10">
    <a href="/" class="mr-5 cursor-pointer text-gray-400 hover:text-gray-500">
        <p class="relative h-min center-h material-icons-outlined">home</p>
    </a>

    <a href="/train" class="hidden md:block">
        <p class="relative h-min center-h text-xl cursor-pointer text-gray-700 hover:text-gray-800">Entraînement</p>
    </a>

    <div class="flex-1"></div>

    <a href="/train/" class="px-3 sm:px-5 border-gray-700 hover:bg-gray-50 {% if request.path == '/train/' %} border-b-2 {% endif %}">
        <p class="relative h-min center-h sm:text-xl">Exercices</p>
    </a>
    <a href="/train/schedule/" class="px-2 sm:px-5 border-gray-700 hover:bg-gray-50 {% if request.path == '/train/schedule/' %} border-b-2 {% endif %}">
        <p class="relative h-min center-h sm:text-xl">Plan de révisions</p>
    </a>
</nav>