{% extends 'train/base.html' %}

{% block content %}
<div class="w-screen max-w-screen md:w-[90%] lg:w-[80%] p-5
            relative center-w">
    <div class="flex group">
        <div class="font-medium text-xl md:text-2xl lg:text-4xl lg:px-10 flex">
            {{ scheduler.name }}

            <div class="opacity-0 group-hover:opacity-100 transition-all duration-300">
                {% if request.user == scheduler.user %}
                    <a href="/api/v1/train/delete/scheduler/{{ scheduler.id }}" title="Supprimer" class="material-icons-outlined h-min relative center-h text-red-300 pl-3 cursor-pointer">
                        delete
                    </a>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <a href="/api/v1/train/copy/scheduler/{{ scheduler.id }}" title="Dupliquer" class="material-icons-outlined h-min relative center-h text-emerald-300 pr-3 cursor-pointer">
                        file_copy
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="flex-1"> </div>
        <div class="md:text-lg lg:text-xl text-gray-400 italic">
            <p class="relative h-min center-h">Created by {{ scheduler.user.username }}</p>
        </div>
    </div>

    {% if scheduler.timed_exercices.count != 0 %}
        <div class="divide-y divide-gray-200">
            {% for timed_exercice in scheduler.timed_exercices.all %}
                {% include 'train/schedulers/item/exercice.html' with exercice=timed_exercice %}
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}